html {
    font-family: "Dawning of a New Day", cursive;
}

body {
    display: grid;

    margin: 0;
}

* {
    box-sizing: border-box;
}

#main {
    background-image: url("/fundo1.png") !important;
    background-position: center;
    background-repeat: repeat;
    position: relative;
    border: 45px inset #964b00;
}

.margem {
    border: 15px solid #f5f5dc;
}

.last-margin {
    border: 10px solid #c3b091;
}

.conteudo {
    border: 28px inset #cc7722;
}

.upload-section {
    width: 680px;
    height: 360px;
    background-image: url(/folha2.png);
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.inputs-buttons {
    display: flex;
    justify-content: space-between;
}

#upload-name {
    width: 50%;
    justify-self: center;
    align-self: center;
}

#upload-label {
    cursor: pointer;
    border: none;
    text-align: center;
    align-self: center;
    font-family: "Oswald", sans-serif;
    color: red;
    text-transform: uppercase;

    background-image: url(/select.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
    height: 125px;
    display: inline-block;
    line-height: 125px;
    font-size: 21px;
    margin-bottom: 10px;
    transform: rotate(-2deg);
    position: relative;
}

#file-field {
    display: none;
}

.images-section {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    padding: 15px 15px 45px 15px;
    border: white solid 1px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px #343539;
    position: relative;
}

.card-modal {
    border: white solid 1px;
    padding: 25px 25px 20px 25px;
    background-color: white;
    position: relative;
    text-align: center;
    margin-top: 40px;
    max-width: 550px;
    left: calc(50% - 275px);
    box-shadow: 0px 10px 20px 0px #343539;
}

.image-description {
    position: absolute;
}

.pino {
    position: absolute;
    width: 60px;
    right: calc(50% - 30px);
    transform: translateY(-63px);
}

.pinos {
    width: 60px;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.folha {
    width: 600px;
    margin-top: 40px;
}
.text-title {
    color: #4844cf;
    font-size: 65px;
    text-align: center;
    transform: translateY(43px);
}
.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.card-title {
    font-size: 25px;
    margin-top: 10px;
    line-height: 0.5;
    text-align: center;
    color: #4844cf;
    font-family: "Dawning of a New Day", cursive;
}

input {
    width: 300px;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    margin: 4px 0 16px 0px;
    border: none;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    overflow: hidden;
}

.input-comment {
    border-bottom: 1px solid #4844cf;
    width: 300px;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    background-color: transparent;
    overflow: hidden;
    border: none;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-bottom: 12px;
    display: none;
}

.button {
    font-size: 25px;

    color: white;
    border: none;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    cursor: pointer;

    width: 141px;
    background-color: transparent;
    height: 194px;
    position: absolute;
    position: relative;
    top: 27px;
    line-height: 125px;
    z-index: 1000;
}

.wrapper-button {
    background-image: url("/upload.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 141px;
    background-color: transparent;
    height: 194px;
    position: absolute;
    top: 172px;
    left: 469px;
}

.upload-input {
    color: #343539;
    border-bottom: 1px solid #4844cf;
}

.wrapper-upload {
    width: 100%;
    padding: 25px 0 25px 0;
    background-image: url("/fundo.png");
}

.paper {
    background-image: url("/folha.png");
    width: 650px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    transform: rotate(-4deg);
}

#pino-vermelho {
    transform: translate(530px, -77px);
}

#pino-amarelo {
    transform: translate(-5px, 45px);
}

/* .inputs-buttons {
    background-image: url(/folha2.png);
    width: 600px;
    padding: 22px;
} */

.input-title {
    display: inline;
    font-size: 30px;
    color: #4844cf;
}

.ticket {
    width: 380px;
    position: relative;
    top: 20px;
    margin-left: 40px;
}

.title-tag {
    transform: translateX(37px);
}
.description-tag {
    transform: translateX(20px);
}
.username-tag {
    transform: translateX(23px);
}
.tags-tag {
    transform: translateX(37px);
}

#image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: zoom-out;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1000;
}

#image-modal-inlet {
    /* display: flex;
    flex-direction: column; */
    top: 20px;
    left: 50px;
    bottom: 20px;
    right: 50px;
    position: absolute;
    background-image: url("/fundo1.png");
    text-align: center;

    color: white;
    font-family: sans-serif;
    padding-top: 30px;
    cursor: initial;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.image-modal-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    cursor: pointer;
}

.image-modal-comment {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px;
}

#pino-amarelo-bottom {
    left: 552px;
    top: 121px;
    position: absolute;
    z-index: 1;
}

.pinos-modal {
    position: absolute;
}

#pino-amarelo-moldal-top {
    top: 5px;
    left: 5px;
}

#pino-vermelho-moldal-top {
    top: 5px;
    right: 5px;
}

.inputc {
    border-bottom: 1px solid #4844cf;
}

#pino-amarelo-moldal-bottom {
    bottom: 5px;
    right: 5px;
}

#pino-vermelho-moldal-bottom {
    bottom: 5px;
    left: 5px;
}

.image-modal-title {
    font-family: "Dawning of a New Day", cursive;
    text-align: center;
    color: #4844cf;
    font-size: 40px;
}

.image-modal-description {
    font-family: "Dawning of a New Day", cursive;
    text-align: center;
    color: red;
    font-size: 27px;
}

.image-modal-created {
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    position: relative;
    color: green;

    display: inline-block;
}

.comment-wrapper {
    background-image: url("/folhacopy.png");
    width: 682px;
    height: 340px;
    left: calc(50% - 341px);
    position: relative;
    margin-top: 10px;
    transform: rotate(-4deg);
}

.comentario {
    font-family: "Oswald", sans-serif;
    width: 213px;
    text-align: center;
    left: 25px;
    line-height: 29px;
    text-align: center;
    transform: translate(44px, 52px);
}

.images-section a {
    text-decoration: none;
}

.load-more-button {
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-bottom: 70px;
    /* margin-top: 10px; */
}

.load-more-button > span {
    background-color: orange;
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 60px;
    margin-top: 30px;
    color: white;
}

#pino-vermelho-comentario {
    left: 32px;
    position: absolute;
    bottom: 280px;
    z-index: 1;
}

.label-comment {
    font-size: 30px;
    color: #4844cf;
    font-family: "Dawning of a New Day", cursive;
}

.wrapper-comment {
    transform: translate(-84px, -10px);
}

.wrapper-username {
    transform: translate(-84px, -10px);
}

.wrapper-tag {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
a {
    font-size: 18px;
    color: #4844cf;
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
    position: relative;
}

.add-wrapper {
    background-image: url("/tag1.png");
    height: 165px;
    width: 256px;
    transform: translate(7px, -30px);
}

.wrapper-submit {
    background-image: url("/submit.png");
    height: 200px;
    width: 355px;
    transform: translate(380px, -10px);
    margin-bottom: 200px;
}

.submit {
    color: white;
    font-size: 50px;
    height: 70px;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(50px);
}

.wrapper-com {
    transform: translateY(150px);
    width: 800px;

    margin-left: auto;
    margin-right: auto;
}

.comment-author {
    font-size: 14px;
    color: red;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.comment-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#pino-amarelo-comentario {
    transform: translate(355px, 32px);
}
